html {
    background-color: #ffc700;
    text-align: center;
    font-family: Arial;
    font-size: 3vw;
    
    align-items: center-stretch;
    }
    
div.box {
    box-shadow: 10px 10px 5px 5px white inset;
    box-sizing: border-box;
    height: 48%;
    width: 48%;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;

    }
    
img {
    width: 1vw;
    height: 1vw;
    
#head {
    font-weight: bold;
    }
    
#work {
    
    }