* {
    background-color: #ffc700;
    
    font-family: Arial;
    font-size: 3vw;
    
    margin: 0;
    
    }
    
@media (min-width: 40em) {

.grid {
    display: grid;
    align-items: center-stretch;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: auto;
    column-gap: 0.75em;
    grid-auto-flow: row | column | row dense | column dense;
    

     }
.box {
    text-align: center;
    grid-column: auto;
    grid-row: auto;
    box-shadow: 10px 10px 10px 10px white inset;
    box-sizing: border-box;
    padding: 10px;
    place-self: center-stretch;
    background-color: lightblue;

    }
    
img {
    width: 1vw;
    height: 1vw;
    
#head {
    font-weight: bold;
    }
    
#work {
    font-weight: light;
    }
    
    }