html {
    background-color: #ffc700;
    text-align: center;
    font-family: Arial;
    font-size: 3vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    }
    
.box {
    place-self: center-stretch;
    }
    
#head {
    font-weight: bold;
    }
    
#work {
    
    }