:root {
/* Color Palette */
    --a: #000; /* Black */
    --b: #FFF; /* White */
    --c: #ffc700; /* Yellow */
    --d: #B000DF; /* Purple */
}

body, html {
    background-color: #ffc700;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: auto;
    padding: 0;
    font-family: 'Arial', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
    color: var(--black);
    display: flex;
    height: 100%;
    width: 100%;
}

.menu-toggle {
    display:none;
    flex-direction: column;
}

.menu-toggle span {
    display: block;
}

nav {

}

nav ul {
    display: flex;
    list-style:none;
    margin: 0;
    padding: 0;
    
}

nav ul li {
    margin-left:30px;
    
}

nav ul li a {
    text-decoration: dotted;
    color: var(--a);
    font-weight: 800;
    transition: color 0.3s;
    
}

.container {
 

    
}

.features-grid {
    align-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr) );
    grid-auto-rows: auto;
    align-items: stretch;
    justify-items: center;
    gap: 20px;


    
}

.feature-card {
    background-color: var(--b);
    border: #FFF;
    padding: 2%;
    margin:2%;
    border-radius: 4%;
    width: auto;
    height: auto;
    box-sizing: border-box;



    
}

.hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas:
        "clutch clutch"
        "image1 text1";
    gap:1rem;
    justify-content: center;

    box-sizing: border-box;
    padding:1rem;
}

.hero-image {
    width: 300px;
    grid-area: image1;
}

.clutch {
    grid-area: clutch;
    border: solid 3px #000;
}

.hero-text {
    grid-area: text1;
    border: solid 3px #000;
}

.feature-image {
    width: 100px;
    grid-area: image;
}

.feature-text {
    grid-area: text;
}