:root {
    font-size: 4vw;
    font-family: "Gill Sans", sans-serif;
    
    --A: #000000;
    --B: #FFFFFF;
    --C: #ffc700;

    background-image: url("O4L.png");
    background-size: 190vh;

}

body {


}

#wrapper {
    display: flex;
    flex-flow: row wrap;

}

#headwrap {
        display: flex;
    flex-flow: row wrap;

}

#name {
    font-size: 1rem;
    font-weight: 600;
    background-color: var(--C);
    margin: 0.5rem;
    padding: 0.1em 0.1em;
}

#blur {
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(12px);

}

.title {
    font-size: 0.9rem;
    font-weight: 300;
    margin: 0.5rem;
    padding: 0.1em 0.1em;
    color:teal;
}

.box {
    box-sizing:content-box;
    background-color: var(--C);
    margin: 0.09em;
    padding: 0.01rem 0.2rem;
    font-weight:600;
    font-size: 0.8rem;

}