:root {
    font-size: 6vh;
    font-family: "Gill Sans", sans-serif;
    
    --A: #000000;
    --B: #FFFFFF;
    --C: #ffc700;


}

body {

    margin:0px;
    padding:0px;
    background-color: var(--B);
    overflow: auto;
    position: relative;

}

/* body::before {
    background-image: url("O4L.png");
    background-size:100%;
    background-attachment: fixed;
    background-position-y:48%;
    background-position-x:59%;
    content:"";
} */

#wrapper {
    display: flex;
    flex-flow: row wrap;

}

#headwrap {
    display: flex;
    flex-flow: row wrap;

}

#name {
    font-size: 1rem;
    font-weight: 600;
    background-color: var(--C);
    margin: 0.5rem;
    padding: 0.1em 0.1em;
}

#blur {
    height: auto;
    width: 100vw;
    backdrop-filter: blur(100vh);
    margin:0;
    
}

.title {
    margin: 0.5rem;
    padding: 0.1em 0.1em;
    color:teal;
}

.box {
    font-size: 1rem;
    box-sizing:content-box;
    background-color: var(--C);
    margin: -0.09em;
    border: 0.09em white solid;
    padding: 0.01rem 0.2rem;
    font-weight:600;
    font-size: 0.8rem;

}