.one {
grid-template: 3 / 2;
grid-area: auto / auto / auto / auto;
}

.all {
    display:grid;
    }
.two {
background-color:blue;
    color:red;
}
.three {
color:blue;
    background-color:red;
}

.four {
    color:green;
    background-color:yellow;
}
