* {
    box-sizing: border-box;
}
.one {

      max-width: 940px;
  margin: 0 auto;
}

.all {
    display:grid;
    }
.two {
background-color:blue;
    color:red;
}
.three {
color:blue;
    background-color:red;
}

.four {
    color:green;
    background-color:yellow;
}
