* {
    font-size:3vw;
    margin: 2px;
    background-color:black;
    }
    
#wrapper {
    display: flex;
    flex-flow: row wrap;
    }
    
#O4 {
    font-size: 2rem;
    }
#cornerCard {
    font-size: 1.6rem;
    }
    
.box {
    aspect-ratio:1 / 1;
    padding: 1rem 0.5rem;
    border: solid 12px black;
    background:#ffc700;
    
    }
    
.banner {
    aspect-ratio:4 / 1;
    padding: 1rem 0.5rem;
    border: solid 12px black;
    background:#ffc700;
    }
    
.boiler {
    font-size: 0.8rem
    }