        * {
            text-align:center;
            
            }
            
        h1 {
            font-size:2vw;
            }
        
        h4 {
            font-size:3vw;
            }
        button {
        font-size:3rem;
        border:9px inset grey;
        }

        #title {
            font-size:2vw;
        }

        #border {
        box-sizing:border-box;
        border-top:11px solid green;
        margin:auto;
        width:100%;
        box-shadow: 10px 4px 5px gold;
        align-items: center;
        justify-content: center;
        }

        #gameBoard {
        box-sizing:border-box;
        border:11px groove grey;
        margin:3px;
        width:98%;
        padding-bottom:10px;
        display: flex;
        flex-flow: row wrap;

        }
    
        
        #statusBoard {
            display:flex;
            flex-flow: column nowrap;
            border: 13px blue;
            background:lightblue;
            box-sizing:border-box;
            text-align: center;
            flex-grow: 2;
            flex-basis: 100vw;
        }
        #battleBoard {
            display:flex;
            flex-flow: column wrap;
            border: 19px red;
            background:red;
            box-sizing:border-box;
               text-align:center;
            flex-grow: 1;


        }

        #commandBoard {
            display:flex;
            flex-flow: row wrap;
            border: 19px green;
            background:green;
            box-sizing:border-box;
               text-align:center;
            flex-grow: 1;

        }

        #intro {
            font-style: italic;
            font-weight: 600;
            font-family: "Apple Chancery", "Snell Roundhand", "cursive";
            font-size: medium;
            color: green;
              text-shadow: 2px 6px 4px gold;
              text-align: center;

        }

        #yourLetters {
            font-size: 3rem;
            font-weight: 700;
            margin: 0;
            padding: 0;
            
        }
        #getLetters {
            display:none;
        }

        #haveLetters {
            display: none;
            font-size:2vw;
        }
        #chill {
            display:none;
        }
        #dungeon {
            place-self:center;
        }

        #attack {
            display:none;
            place-self:center;
        }

        #appearance {
            width:15rem;
            place-self:center;
        }

        #youroptions {
            display:flex;
        }

        #indicator1 {
            display:none;
            place-self:center;
        }
        #indicator2 {
            display:none;
        }
        .words {
            font-size:3vw;
            font-weight:800;
        }
        .wrap {
        text-wrap:pretty;
        }
        
                @keyframes newLetter {
            0% { transform: scale(1.5); color: green; }
            100% { transform: scale(1); color: inherit; }
        }

        .new-letter {
            animation: newLetter 0.5s;
        }
        .action {
                padding: '8px 16px';
                cursor: 'pointer';
                border: "2px solid #6b4bcc";
                color: "white";
                flex-shrink: "0";
                background-color: "#3a246d"
        }
